<?xml version="1.0"?>

<launch>
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_B)" />

    <include file="$(find amigo_launch_files)/launch/middleware/loc_odom.launch" />

    <include file="$(find cb_base_navigation)/launch/local_planner.launch" />
    <include file="$(find cb_base_navigation)/launch/global_planner.launch" />

    <include file="$(find head_ref)/launch/head_ref.launch" />
    <node name="head_ref_ed_client" pkg="head_ref_ed_client" type="head_ref_ed_client" output="screen" />

    <node name="ed_server" pkg="ed" type="ed_server" output="screen" />

    <include file="$(find rgbd)/launch/top_kinect_server.launch" />

</launch>
